fine-tuned[[:space:]]generator[[:space:]](200+60[[:space:]]epochs) filter=lfs diff=lfs merge=lfs -text
pretrained[[:space:]]generator[[:space:]](200[[:space:]]epochs) filter=lfs diff=lfs merge=lfs -text
